.contactContainer{

    width: 60%;
    margin-left:auto;
    margin-right: auto;
    background-color:white;
    border-radius: 5px;
    padding-bottom: 2%;

}
.contactContainer h4{

    padding: 2%;
    font-size: 1.2rem;
}

.listContainer li {
    list-style-type: none;
    width:90%;
    padding: 2%;
    border: 1px whitesmoke solid;
  
}


.arrow{

    display: inline;
}