nav {

    width: 100;
    display:flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    color:#fff;
    background-color: red;
}

nav p { 

    font-size: 1.3rem;
    opacity: 0.8;
}