.headerContainer {

  display: flex;
  justify-content: space-evenly;
  background-color: red;
  width: 100%;

}

.headerContainer ul {

    list-style-type: none;
}

.headerContainer ul li {

    display: inline;
    margin-left: 20px;

}